<mat-toolbar color="primary">
  <span>Logo</span>
</mat-toolbar>

<div class="registration-container">
  <mat-card class="registration-card">
    <mat-card-title>
      Registration
    </mat-card-title>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
      <mat-card-content class="registration-content">

        <mat-form-field class="registration-form">
          <input matInput placeholder="Email" class="form-control" type="text" formControlName="userName">
          <mat-error *ngIf="registrationForm.controls['userName'].hasError('required')">
            Valid email is required
          </mat-error>
          <mat-error *ngIf="!registrationForm.controls['userName'].hasError('required') &&
                            registrationForm.controls['userName'].hasError('email')">
            Please input a valid email
          </mat-error>
        </mat-form-field>

        <mat-form-field class="registration-form">
          <input matInput placeholder="Password" type="password" formControlName="password" >
          <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="!registrationForm.controls['password'].hasError('required') &&
                           registrationForm.controls['password'].hasError('minlength')">
            Password must be at least 6 characters long
          </mat-error>
        </mat-form-field>

        <mat-form-field class="registration-form" [ngClass]="{error: registrationForm.hasError('passwordNotMatch')}">
          <input matInput placeholder="Repeat password" type="password" formControlName="passwordRepeat"
                 [errorStateMatcher]="passwordMatcher">
          <mat-error *ngIf="registrationForm.controls['passwordRepeat'].hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="!registrationForm.controls['passwordRepeat'].hasError('required') &&
              registrationForm.hasError('passwordNotMatch')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <hr>
      <mat-card-actions class="registration-actions right">
        <button mat-raised-button type="submit" color="primary"
                [disabled]="registrationForm.invalid">
          Register
        </button>
      </mat-card-actions>
    </form>
    <hr>
    <mat-card-actions class="registration-actions">
      <button mat-button color="primary" (click)="forgotPassword()">Forgot your password?</button>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
